# 1 . ARITHMETIC OPERATIONS

In [ ]:
# FOR ADDITION
print(1+1)

2

In [ ]:
# FOR MULTIPLICATION
print(4*77)

308

In [ ]:
# FOR INTER DIVISION DIVISION
print(44/55)

0.8

In [ ]:
# FOR MODULUS
print(77%3)

2

In [ ]:
print(-22%5)

3

In [ ]:
# FOR SUBTRACTION
print(55-8888)

-8833

In [ ]:
# FOR EXPONENTIATION
print(55**6)

27680640625

In [ ]:
6*-----------8

-48

In [ ]:
8=people

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-9-7522cd9525a6>, line 1)

In [ ]:
(((((4**3)))))

64

In [ ]:
(-(-(-(-(-5)))))

-5

In [ ]:
4+=7/2

SyntaxError: 'literal' is an illegal expression for augmented assignment (<ipython-input-12-0b25015887ab>, line 1)

2 .Using only the techniques you have learned so far, write a program that
calculates the square and cube of the numbers from 0 to 10 and uses tabs to print the following table of values:
                                        num     square      cube
                                        0        0           0
                                        1        1           1
                                        2        4           8
                                        3        9           27   
                                        4        16          64
                                        5        25         125
                                        6        36         216
                                        7        49         343
                                        8        64         512
                                        9        81         729
                                        10       100        1000

In [ ]:
x=0
print("num\t square\t cubbe")
print(f"{x}\t{x**2}\t{x**3}")
x=1
print(f"{x}\t{x**2}\t{x**3}")
x=2
print(f"{x}\t{x**2}\t{x**3}")
x=3
print(f"{x}\t{x**2}\t{x**3}")
x=4
print(f"{x}\t{x**2}\t{x**3}")
x=5
print(f"{x}\t{x**2}\t{x**3}")
x=6
print(f"{x}\t{x**2}\t{x**3}")
x=7
print(f"{x}\t{x**2}\t{x**3}")
x=8
print(f"{x}\t{x**2}\t{x**3}")
x=9
print(f"{x}\t{x**2}\t{x**3}")
x=10
print(f"{x}\t{x**2}\t{x**3}")

num	 square	 cubbe
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000

BY USING WHILE LOOP WE CAN EAILY WRITE A PROGRAM FOR THIS CODE

In [ ]:
print("num\tsqure\tcube")
x=0
while x<=10:
   print(f"{x}\t{x**2}\t{x**3}")
   x+=1

num	squre	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000

 Q3 Write a program that print a box, an oval , an arrow , and a diamond .

In [ ]:
print('''

*********\t             ***      \t       *   \t              *
*       *\t           *     *    \t      ***  \t           *     *
*       *\t         *         *  \t     ***** \t         *         *
*       *\t       *             *\t       *   \t       *             *
*       *\t       *             *\t       *   \t      *                *
*       *\t       *             *\t       *   \t       *              *
*       *\t       *             *\t       *   \t         *           *
*       *\t       *             *\t       *   \t           *        *
*********\t          *        *  \t       *   \t             *    *
         \t            *     *   \t       *   \t                *
         \t              ***     \t       *   \t


                                                                            ''')

*********	            ***       	       *   	              *
*       *	           *     *    	      ***  	           *     *
*       *	         *         *  	     ***** 	         *         *
*       *	       *             *	       *   	       *             *
*       *	       *             *	       *   	      *                *
*       *	       *             *	       *   	       *              *
*       *	       *             *	       *   	         *           *
*       *	       *             *	       *   	           *        *
*********	          *        *  	       *   	             *    *
         	            *     *   	       *   	                *
         	              ***     	       *


 Q4 Write a program that asks the user to enter two numbers , obtain the two numbers from the user and print the sum , product  ,difference , quotient and remainder of the two numbers.**

In [ ]:
num1, num2=input("enter two numbers:").split()
num1 , num2 =int(num1),int(num2)
print("the sum is" ,num1+num2)
print("the product is " ,num1*num2)
print("the difference is", num1-num2)
print("the quotation is " ,num1/num2)
print("the remainder is ",num1%num2)

enter two numbers:4 2
the sum is 6
the product is  8
the difference is 2
the quotation is  2.0
the remainder is  0

Q5 write a program that assign values to two variables and then swap there values**

In [1]:

a = 5
b = 10


a, b = b, a


print("a =", a)
print("b =", b)

a = 10
b = 5

●Q6 	Write a program that inputs one five-digit number, generates its reverse and displays the reverse on screen.(Hint: Make use of the arithmetic operators modulus (%) and floor (// )

In [4]:
number = int(input("Enter a five-digit number: "))

reversed_number = 0
while number > 0:
    reversed_number = reversed_number * 10 + number % 10
    number //= 10

print("Reversed number:", reversed_number)

Enter a five-digit number: 12345
Reversed number: 54321


●Q7 	Write a program that reads three nonzero integers and determines and prints if they could be the sides of a right triangle. (Hint : use Pythagoras theorem you learned in mathematics during FSC or matric , try different combinations of the same integers )

In [5]:
a = int(input("Enter the first nonzero integer: "))
b = int(input("Enter the second nonzero integer: "))
c = int(input("Enter the third nonzero integer: "))

def is_right_triangle(x, y, z):
    sides = sorted([x, y, z])
    return sides[0]**2 + sides[1]**2 == sides[2]**2

if is_right_triangle(a, b, c):
    print("The integers can be the sides of a right triangle.")
else:
    print("The integers cannot be the sides of a right triangle.")

Enter the first nonzero integer: 3
Enter the second nonzero integer: 4
Enter the third nonzero integer: 5
The integers can be the sides of a right triangle.

●	 Q8  Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print a grade using the following table:

In [7]:
score = float(input("Enter a score between 0.0 and 1.0: "))

if score < 0.0 or score > 1.0:
    print("Error: Score out of range.")
else:
    if score >= 0.9:
        grade = "A"
    elif score >= 0.8:
        grade = "B"
    elif score >= 0.7:
        grade = "C"
    elif score >= 0.6:
        grade = "D"
    else:
        grade = "F"

    print("Grade:", grade)

Enter a score between 0.0 and 1.0: 0.6
Grade: D

Q9 A palindrome is a number or a text phrase that reads the same backwards as forwards. For example, each of the following five-digit integers are palindromes: 12321, 55555, 45554 and 11611. Write a program that reads in a five-digit integer and determines whether or not it is a palindrome.

In [8]:
number = input("Enter a five-digit integer: ")

if len(number) == 5 and number.isdigit():
    if number == number[::-1]:
        print("The number is a palindrome.")
    else:
        print("The number is not a palindrome.")
else:
    print("Error: The input is not a five-digit integer.")

Enter a five-digit integer: 12456
The number is not a palindrome.

●Q10 	Write a program that reads an integer and determines and prints whether it is odd or even.

In [9]:
number = int(input("Enter an integer: "))

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter an integer: 5
The number is odd.

●Q11	Write a program that inputs three different integers from the keyboard, and then prints the smallest and the largest of these numbers. Use only the single-selection form of the if statement that you learned in the class

In [13]:

num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
num3 = int(input("Enter the third integer: "))


if num1 < num2 and num1 < num3:
    smallest = num1
elif num2 < num1 and num2 < num3:
    smallest = num2
else:
    smallest = num3

if num1 > num2 and num1 > num3:
    largest = num1
elif num2 > num1 and num2 > num3:
    largest = num2
else:
    largest = num3


print("The smallest number is:", smallest)
print("The largest number is:", largest)

Enter the first integer: 4
Enter the second integer: 5
Enter the third integer: 7
The smallest number is: 4
The largest number is: 7

●Q12	Write a program that produces the following output using variables instead of hardcoding:

HHHHHH
   HHHHH
         HHH
            HH
               H

In [16]:
lines = 5


for i in range(lines):

    spaces = i

    num_h = lines - i

    print(' ' * spaces + 'H' * num_h)

HHHHH
 HHHH
  HHH
   HH
    H

●	Q13 Write a program that asks the user to enter two numbers, obtains the two numbers from the user and prints the sum, product, difference, quotient and remainder of the two numbers.

In [17]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_result = num1 + num2
product_result = num1 * num2
difference_result = num1 - num2

if num2 != 0:
    quotient_result = num1 / num2
    remainder_result = num1 % num2
else:
    quotient_result = "undefined (division by zero)"
    remainder_result = "undefined (division by zero)"

print("Sum:", sum_result)
print("Product:", product_result)
print("Difference:", difference_result)
print("Quotient:", quotient_result)
print("Remainder:", remainder_result)

Enter the first number: 4
Enter the second number: 7
Sum: 11.0
Product: 28.0
Difference: -3.0
Quotient: 0.5714285714285714
Remainder: 4.0

●	Q14  Write a program that reads in the radius of a circle and prints the circle’s diameter, circumference and area. Use the constant value 3.14159 for π. Perform each of these calculations inside the print statement().

In [18]:
PI = 3.14159

radius = float(input("Enter the radius of the circle: "))

print(f"Diameter: {2 * radius}")
print(f"Circumference: {2 * PI * radius}")
print(f"Area: {PI * radius ** 2}")

Enter the radius of the circle: 45
Diameter: 90.0
Circumference: 282.74309999999997
Area: 6361.71975

# **THE END**